@import "reset.css";

@font-face {
  font-family: "Steinbeck Regular";
  src: url("../fonts/SteinbeckRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Basis Grotesque Pro Regular";
  src: url("../fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Basis Grotesque Pro Italic";
  src: url("../fonts/BasisGrotesquePro-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* transition: all 300ms ease; */
}

body {
  overflow-x: hidden;
  background-color: #FFFFFF;
}

a {
  font-family: "Basis Grotesque Pro Regular";
  text-decoration: none;
  color: #FAF19D;
  margin-right: 5vw;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Steinbeck Regular";
  font-size: 50px;
  line-height: 50px;
  color: #233363;
  padding-top: 130px;
  margin-bottom: 110px;
}

h2 {
  font-family: "Steinbeck Regular";
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #233363;
  margin-bottom: 110px;
}

h3 {
  font-family: "Basis Grotesque Pro Regular";
  font-size: 30px;
  line-height: 39px;
  color: #233363;
  margin-bottom: 110px;
}

p {
  font-family: "Basis Grotesque Pro Regular";
  font-size: 30px;
  line-height: 39px;
  color: #233363;
  width: 65vw;
}

h4 {
  font-family: "Basis Grotesque Pro Regular";
  font-size: 15px;
  line-height: 19px;
  color: #233363;
}

.main {
  background-color: #233363;
  height: 100vh;
}

.main .navbar {
  width: 100vw;
  position: fixed;
  background-color: #233363;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 28px;
  padding-bottom: 28px;
}

.navbar-mobile {
  display: none;
}

.main img {
  padding-left: 6vw;
  padding-right: 6vw;
  width: 70vw;
  margin-top: 35vh;
}

.concept {
  background: #88E5DA;
  padding-left: 6vw;
  padding-right: 6vw;
}

.concept1 {
  width: 88vw;
  margin-top: 110px;
  margin-bottom: 40px;
}

.society {
  font-family: "Basis Grotesque Pro Italic";
}

.title {
  margin-top: 130px;
}

.concept2, .concept3, .concept4 {
  width: 88vw;
  margin-bottom: 130px;
  margin-top: 30px;
}

.logo {
  background: #FAF19D;
  padding-left: 6vw;
  padding-right: 6vw;
}

.logo1, .logo2 {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.logo2 {
  margin-bottom: 130px;
}


.logo1 img, .logo2 img {
  width: 540px;
  margin-right: 10vw;
  margin-left: 10vw;
}

.logo-field {
  width: 540px;
  margin-left: 10vw;
  margin-bottom: 130px;
}

.logo-min, .sign-min {
    display: flex;
    align-items: center;
    margin-bottom: 130px;
}

.logo-min img {
  width: 150px;
}

.sign-min img {
  width: 60px;
}

.wrong, .wrong-sign, .wrong-typo {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 130px;
}

.wrong h4, .wrong-typo h4 {
  margin-top: 40px;
}

.wrong img {
  width: 20vw;
}

.wrong-sign img {
height: 10vw;
}

.wrong-typo img {
  height: 3vw;
}

.wrong-typo h4 {
  width: 25vw;
}

.wrong-sign h4 {
  width: 25vw;
  margin-top: 40px;
}

.graphics .wrong h4 {
  width: 25vw;
  margin-top: 40px;
}

.graphics .wrong {
  padding-bottom: 0px;
}

.sign {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 110px;
    margin-bottom: 110px;
}

.sign img {
  width: 150px;
  margin-right: 10vw;
  margin-left: 10vw;
}

.process {
  width: 78vw;
}

.process-text {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 130px;
  padding-right: 4vw;
}

.blue, .red {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.bluesquare {
  width: 28px;
  height: 28px;
  background-color: #88E5DA;
  margin-right: 10px;
}

.redsquare {
  width: 28px;
  height: 28px;
  background-color: #E85A5A;
  margin-right: 10px;
}

.features {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.features img {
  width: 175px;
  margin-left: 10vw;
}

.sign-field {
  width: 300px;
  margin-left: 10vw;
  margin-bottom: 130px;
}

.rules {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 130px;
}

.rules img {
  height: 5vw;
  margin-bottom: 25px;
}

.composition {
  background: #CACC4E;
  padding-left: 6vw;
  padding-right: 6vw;
}

.composition h2 {
  margin-top: 130px;
}

.comp-item {
  margin-left: 10vw;
  margin-bottom: 110px;
}

.comp-item img {
  width: 30vw;
}

.comp-item p {
  margin-top: 20px;
}

.comp-item h4 {
  margin-top: 10px;
}

.comp-item .gor-format {
  width: 50vw;
}

.layout-item {
  margin-left: 10vw;
  padding-bottom: 130px;
}

.layout-img {
  display: flex;
}

.layout-img img {
  width: 32vw;
  margin-right: 20px;
}

.layout-item h4 {
  margin-top: 10px;
}

.colors {
  background: #FAF19D;
  padding-left: 6vw;
  padding-right: 6vw;
}

.color-names {
  width: 88vw;
  padding-bottom: 110px;
}

.color-one {
  display: flex;
  align-items: center;
  padding-bottom: 110px;
}

.color-one img {
  width: 13vw;
  margin-right: 10vw;
}

.colors-img img {
  margin-bottom: 20px;
}

.typography {
    background: #233363;
    padding-left: 6vw;
    padding-right: 6vw;
}

.typography h1, .typography p, .typography h2, .typography h4  {
  color: #FAF19D;
}

.steinbeck {
  margin-left: 10vw;
  padding-bottom: 130px;
}

.steinbeck h1 {
  margin-bottom: 20px;
  padding-top: 110px;
}

.steinbeck h1:nth-child(2) {
  padding-top: 20px;
}

.basis {
  margin-left: 10vw;
  padding-bottom: 130px;
}

.basis h1 {
  font-family: "Basis Grotesque Pro Regular";
  margin-bottom: 20px;
  padding-top: 110px;
}

.basis h1:nth-child(2) {
  padding-top: 20px;
}

.typo-step {
  width: 70vw;
  margin-left: 10vw;
  padding-top: 110px;
  padding-bottom: 130px;
}

.subtitle {
  padding-top: 110px;
  padding-bottom: 130px;
  margin-left: 10vw;
  width: 30vw;
}

#typo {
  padding-bottom: 130px;
}

.graphics {
    padding-left: 6vw;
    padding-right: 6vw;
}

.graphics p {
  margin-bottom: 130px;
}

.margin-p {
  margin-bottom: 60px;
}

.volunteer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.volunteer img {
  width: 22vw;
}

.volunteer p {
  width: 60vw;
}

#eco {
  width: 12vw;
}

.pattern {
  display: flex;
  margin-left: 10vw;
  margin-bottom: 130px;
}

.pattern h4 {
  margin-top: 25px;
}

.pattern img {
  width: 30vw;
  margin-right: 10vw;
}

.pattern-comp {
  width: 88vw;
  margin-bottom: 130px;
}

.pattern-examples {
  display: flex;
  margin-bottom: 130px;
}

.pattern-examples img {
  width: 25vw;
  margin-right: 20px;
}

.graphics .margin-p {
  margin-bottom: 60px;
}

.photography {
  padding-left: 6vw;
  padding-right: 6vw;
  background: #F68E5F;
}

#margin-130 {
  margin-bottom: 130px;
}

.photography p {
  margin-bottom: 130px;
}

.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 88vw;
  padding-bottom: 130px;
}

.photos img {
  width: 21vw;
  margin-bottom: 1vw;
}

.figma {
  width: 88vw;
  padding-bottom: 130px;
}

.identity {
  padding-left: 6vw;
  padding-right: 6vw;
  background: #E85A5A;
}

.identity h1, .identity h2, .identity h3, .identity h4 {
  color: #FAF19D;
}

.identity-item {
  padding-bottom: 130px;
}

.identity-img {
  display: flex;
}

.identity-img img {
  width: 35vw;
  margin-right: 20px;
}

.identity-item h4{
  margin-top: 25px;
}

#facebook {
  width: 65vw;
}

#idcard {
  width: 88vw;
}

.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 88vw;
  padding-bottom: 130px;
}

.photos img {
  width: 21vw;
  margin-bottom: 1vw;
}

.merch {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 88vw;
  padding-bottom: 130px;
}

.merch img {
  width: 28vw;
  margin-bottom: 2vw;
}

#merch8 {
  width: 58vw;
}

#merch9 {
  width: 43vw;
}

#merch11 {
  width: 88vw;
}

.concept-mobile {
  display: none;
}

.color-names-mobile {
  display: none;
}

.figma-mobile {
  display: none;
}

@media (max-width:1024px) {

  a {
    margin-right: 30px;
  }

  .steinbeck h1 {
    font-size: 30px;
    line-height: 100%;
  }

  .basis h1 {
    font-size: 30px;
    line-height: 100%;
  }
}

@media (max-width:768px) {

  a {
    margin-right: 12px;
    font-size: 13px;
  }

  .main img {
    margin-top: 400px;
    width: 88vw;
  }

  h1 {
    font-size: 30px;
    line-height: 30px;
    padding-top: 80px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 60px;
  }

  p {
    font-size: 15px;
    line-height: 19px;
    width: 65vw;
  }

  .concept1 {
    margin-top: 70px;
  }

  .title {
    margin-top: 70px;
  }

  .concept2, .concept3, .concept4 {
    margin-bottom: 70px;
  }

  .logo1 img, .logo2 img {
    width: 50vw;
    margin-left: 0vw;
  }

  .logo2 {
    margin-bottom: 70px;
  }

  .logo-field {
    margin-left: 0vw;
    margin-bottom: 70px;
  }

  .margin-p {
    margin-bottom: 40px;
  }

  .logo-min, .sign-min {
    margin-bottom: 70px;
  }

  .wrong, .wrong-sign, .wrong-typo {
    padding-bottom: 70px;
  }

  .wrong h4, .wrong-typo h4 {
    width: 20vw;
  }

  .sign {
    margin-bottom: 70px;
  }

  .process-text {
    margin-bottom: 70px;
  }

  .features {
    margin-bottom: 70px;
  }

  .sign-field {
    margin-left: 0vw;
    margin-bottom: 70px;
  }

  .composition h2 {
    margin-top: 40px;
  }

  .comp-item {
    margin-left: 0vw;
    margin-bottom: 70px;
  }

  .comp-item img {
    width: 50vw;
  }

  .layout-item {
    margin-left: 0vw;
    padding-bottom: 70px;
  }

  .layout-img img {
    width: 43vw;
    margin-right: 0vw;
  }

  .layout-img {
    justify-content: space-between;
  }

  .color-names {
    padding-bottom: 70px;
  }

  .color-one {
    padding-bottom: 70px;
  }

  .steinbeck, .basis {
    padding-bottom: 70px;
  }

  .steinbeck h1, .basis h1  {
    font-size: 20px;
    padding-top: 70px;
  }

  .steinbeck h1:nth-child(2), .basis h1:nth-child(2) {
    padding-top: 0;
  }

  .typo-step, .subtitle, #typo {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .wrong-typo img {
    height: 2.5vw;
  }

  .graphics p {
    margin-bottom: 70px;
  }

  .graphics .margin-p {
    margin-bottom: 40px;
  }

  .pattern {
    margin-bottom: 70px;
  }

  .pattern-comp, .pattern-examples {
    margin-bottom: 70px;
  }

  .photography p {
    margin-bottom: 70px;
  }

  .photos, .figma, .identity-item {
    padding-bottom: 70px;
  }

  .rules {
    padding-bottom: 80px;
  }

  #margin-130 {
    margin-bottom: 80px;
  }

}

@media (max-width:414px) {

  .steinbeck, .basis {
    margin-left: 0vw;
  }

  .steinbeck h1, .basis h1 {
    font-size: 15px;
  }

  .navbar {
    display: none;
  }

  .main img {
    margin-top: 270px;
    width: 88vw;
  }

  .navbar-mobile {
    display: inline;
    position: fixed;
    background-color: #233363;
    width: 100%;
  }

  .main .navbar-mobile img {
    height: 5vw;
    margin-top: 6vw;
    margin-left: 80vw;
    width: auto;
    padding-right: 0vw;
    padding-bottom: 6vw;
  }

  .burger {
    display: block;
  }

  .cross {
    display: none;
  }

  .fullmenu {
    display: none;
    flex-direction: column;
    margin-left: 6vw;
    padding-top: 40px;
    height: 100vh;
  }

  .fullmenu a {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 30px;
  }

  p {
    width: 88vw;
  }

  .concept1, .concept2, .concept3, .concept4 {
    display: none;
  }

  .concept-mobile {
    display: block;
    width: 88vw;
    margin-top: 70px;
    padding-bottom: 70px;
  }

  .logo-field {
    width: 88vw;
  }

  .logo1, .logo2 {
    display: block;
  }

  .logo1 img, .logo2 img {
    margin-bottom: 20px;
  }

  .wrong {
    display: block;
  }

  .wrong img {
    width: 60vw;
  }

  .wrong h4, .wrong-typo h4,  .wrong-sign h4{
    width: 88vw;
    padding-bottom: 40px;
  }

  .wrong, .wrong-sign, .wrong-typo {
    padding-bottom: 30px;
  }

  .sign img {
    margin-left: 0vw;
  }

  #hidden {
    display: none;
  }

  .features {
    display: block;
  }

  .bluesquare, .redsquare {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
  }

  .blue, .red {
    display: block;
  }

  .wrong, .wrong-sign, .wrong-typo {
    display: block;
  }

  .wrong-sign img {
    height: 30vw;
  }

  .rules {
    padding-bottom: 40px;
    display: block;
  }

  .rules h4 {
    margin-bottom: 40px;
  }

  .comp-item img, .comp-item .gor-format {
    width: 88vw;
  }

  .layout-img {
    flex-wrap: wrap;
  }

  .layout-img img {
    width: 88vw;
    margin-bottom: 20px;
  }

  .layout-item h4 {
    margin-top: 0px;
  }

  .color-one {
    display: block;
  }

  .color-one img {
    width: 40vw;
    margin-bottom: 40px;
  }

  .color-names {
    display: none;
  }

  .color-names-mobile {
    display: block;
    width: 88vw;
    margin-bottom: 70px;
  }

  .typo-step, .subtitle, #typo {
    padding-top: 0px;
  }

  .wrong-typo img {
    height: 8vw;
  }

  .pattern-examples {
    flex-wrap: wrap;
  }

  .pattern-examples img {
    width: 88vw;
    margin-bottom: 20px;

  }

  .pattern-comp, .pattern-examples {
    margin-bottom: 50px;
  }

  .graphics p {
    margin-bottom: 40px;
  }

  .graphics .wrong h4 {
    width: auto;
  }

  #margin-130 {
    margin-bottom: 40px;
  }

  .photos img {
    width: 88vw;
    margin-bottom: 20px;
  }

  .figma {
    display: none;
  }

  .figma-mobile {
    display: block;
    width: 88vw;
    padding-bottom: 80px;
  }

  .identity-img img {
    width: 88vw;
    margin-right: 0vw;
    margin-bottom: 20px;
  }

  .identity-img {
    flex-wrap: wrap;
  }

  .identity-item h4 {
    margin-top: 0px;
  }

  #facebook {
    width: 88vw;
  }

  .merch {
    padding-bottom: 80px;
  }

  .merch img {
    width: 88vw;
    padding-bottom: 20px;
  }

  #merch8, #merch9, #merch11 {
    width: 88vw;
  }



}
